@{
	ViewData["Title"] = "Currencies Exchange Web Application v0.1";
}

@{
	ViewBag.Title = "Exchange";
}

@using (Html.BeginForm("Exchange", "Home", FormMethod.Get))
{

<fieldset>
	<br />
	Pick the first currency

	@Html.DropDownList("FirstCurrency", null, new { @id = "FirstCurrency" })
	<br />
	<br />
	Pick the second currency

	@Html.DropDownList("SecondCurrency", null, new { @id = "SecondCurrency" })
	<br />
	<br />
	<input type="number" required name="Amount" min="0" value="0" step=.01 id="Amount">
	<br />
	<br />
	<p>
		<button type="button"
				class="btn btn-primary"
				id="Exchange">
			Exchange
		</button>

	</p>
	<br />
	<br />
	<p id="ExchangedAmount">
		
	</p>
	<br />
	<br />
	<p id="MaxExchanged">
		
	</p>
</fieldset>

}

@section scripts {
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript">
		function validateForm() {
			var isValid = false;
			if ($("#FirstCurrency").val() == $("#SecondCurrency").val()) {
				alert("To exchange select different currencies");
			} else if ($("#Amount").val() == "0") {
				alert("To exchange input valid amount");
			} else {
				if (!isNaN($("#Amount").val())) {
					isValid = true;
				} else {
					alert("Input is not a number");
				}
			}
			debugger;
			return isValid;
		}
	</script>
			
	<script type="text/javascript">
		$(document).ready(function () {
			$("#Exchange").click(function () {
				console.log("exchanged clicked");
				if (validateForm() == true) {
					debugger;
					$.post("/Home/Exchange", { firstCurrency: $("#FirstCurrency").val(), secondCurrency: $("#SecondCurrency").val(), amount: $("#Amount").val() },
						function (rates) {
							$("#ExchangedAmount").text("Exchanged amount: " + rates[0] + " " + $("#SecondCurrency").val());
							$("#MaxExchanged").text("If you had exchanged it on " + rates[2] + ", you would have get a " + rates[1] + " " + $("#SecondCurrency").val());
						});
				}
			});
		});
	</script>
}